.Sellerdash{
    background-color: #e2e2e2;
    height: 100vh; 
    overflow: hidden;
    
}
.rowC{display:flex; flex-direction:row; justify-content:space-between}
.sideright{display:flex; flex-direction: column; width: 100%}
.dash{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

.dashtop1{
    display: flex;
    flex-direction: row;
    margin-right: 360px;
}
.dashtop3{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.dashtop2{
    display: flex;
    flex-direction: row;
}

.rightside{
    display: flex;
    flex: 1;
    right: 0px;
    width: 350px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: white;
    padding: 14px;
     position: absolute;
    overflow: hidden; 
    float: right;
    z-index: 99;
    margin: 5px;
    height: 88vh;
    border-radius:15px;
    transition: all 0.5s ease;
  
}


.nonActive {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #ffffff00;
}

.graph1{
    
    display: flex;
    width: 100%;
    margin: 5px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dashtop2{
    display: flex;
    flex-direction: column;
    margin-right: 370px;
    height: 67vh;
    justify-content: space-evenly;
}

.graph2{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px;
    height: 100%;
    
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    

}
.box {
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
  }
  table,
  td {
    background-color: #fff;
  
    padding: 10px;
  }
  th {
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
  }
  table {
    overflow-y: scroll;
    border-collapse: collapse;
    box-shadow: -10px 9px 31px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: -10px 9px 31px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -10px 9px 31px 0px rgba(0, 0, 0, 0.43);
  }

  th{
      top: 0;
      position:sticky;
      border-color: black;
  }
