.files-table {
  
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  }
  .spacing{
    
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
 
  box-sizing: border-box;
}

.image{
  width: 65px;
  height: 65px;
  margin: 10px;
}

.menuback{
  margin: 5px;
  border-radius: 4px;
  height: 100px;
  background-image: url("../images/materialback.png");
}

.catmaterial{
  height: 100px;
  margin-left: 280px;
  margin-right: 780px;
  border-radius: 10px;
  background-color: white;
    margin-top: -50px;
}

.catmaterial1{
  height: 100px;
  margin-left: 480px;
  margin-right: 480px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: white;
    margin-top: -50px;
}


.background{
  padding: 40px;
  border-radius: 10px;
  background-color:rgb(255, 255, 255);
  margin: 5px;
  margin-top: 10px;
}

.cat{  
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  padding: 5px;
}


.catlayout{
  
  margin-left: 5px;
  width: 150px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.catlayout:hover{
  border-color:#011036;
  border-width: 5px;
}

.cba{
  margin-left: 5px;
  width: 150px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-color:#011036;
  border-width: 5px;
}